<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Form</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1 th:text="${author.id}==null ? '새 저자' : '저자 수정'"></h1>
<form th:action="${author.id}==null ? @{/authors} : @{/authors/{id}/edit(id=${author.id})}" method="post" th:object="${author}">
  <label>Name:</label>
  <input type="text" th:field="*{name}" />
  <button type="submit">저장</button>
</form>
</body>
</html>